<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show data</title>
</head>
<body>
    <header><h1>show data</h1></header>
    <main>
        <%- data1 %>
    </main>
    <footer></footer>
    
</body>
</html>