<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=">
    <title>google form</title>
</head>
<body>
    <form action="" method="post">
        <p>Id</p>
        <input type="text" name="id" required autocapitalize="20">
        <p>Name</p>
        <input type="text" name="name" required>
        <p>monum</p>
        <input type="number" name="monum" required >
        <button type="submit">Submit</button>
    </form>
</body>
</html>