<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=">
    <title>singnIn</title>
</head>
<body>
    <form action="#" method="post">
        <p>Gmail</p>
        <input type="text" name="Gmail" required>
        <p>password</p>
        <input type="text" name="password" required>

        <button type="submit">Submit</button>
    </form>
</body>
</html>